<nav class="menuDiv">
  <button class="menuButton" [routerLink]="['']">START</button>
  <button class="menuButton" [routerLink]="['/employee']">EMPLOYEE</button>
  <button class="menuButton" [routerLink]="['/qualification']">QUALIFICATION</button>
  <button class="menuButton" [routerLink]="['']">LOGOUT</button>
</nav>

<div class="filterTable">
  <div>

    <input class="filterInput" type="text" placeholder="Filtertext">
  </div>
  <div>

    <button class="filterButton">Filter</button>
  </div>
</div>
<div class="header">Qualifikationen </div>

<div *ngIf="qualifications && qualifications.length > 0" class="menuDiv">
  <table class="qualificationList">
    <thead>
    <tr>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let qualification of qualifications" class="listItem">
      <td>{{ qualification.skill }}</td>
      <td>
        <button class="buttonSize" [routerLink]="['/employeesByQuali']">Mitarbeiter</button>
      </td>
      <td>
        <button class="buttonSize" [routerLink]="['/delete']">löschen</button>
      </td>
      <td>
        <button class="buttonSize" [routerLink]="['/edit']">bearbeiten</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
