h1{
  font-size: 2.5em;
}
p{
  font-size: 1.5em;
  margin-bottom: 0;
  white-space: nowrap;
}
.employee-details{
  height: 50dvh;
  display: flex;
}
.employee-label{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.employee-label p{
  font-weight: bold;
}
.employee-information{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.edit-fields{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.outer{
  height: 90dvh;
}
.footer{
  height: 15dvh;
}
.body{
  height: 60dvh;
}
.header{
  height: 15dvh;
}
