h1{
  font-size: 2.5em;
}
p{
  font-size: 1.5em;
  margin-bottom: 0;
  white-space: nowrap;
}
.employee-details{
  height: 40dvh;
  display: flex;
  margin-right: 3dvw;
}
.employee-label{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3dvw;
}
.employee-label p{
  font-weight: bold;
}
.employee-information{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.edit-fields{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.outer{
  height: 90dvh;
}
.footer{
  height: 15dvh;
  width: 20dvw;
}
.body{
  height: 75dvh;
  width: 50dvw;
  display: flex;
}
.header{
  height: 15dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  height: 7dvh;
  width: 13dvw;
  margin-bottom: 2dvh;
  border-radius: 4px;
}
.right-side{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 20dvw;
}
.left-side{
  width: 30dvw;
}
.employee-qualification{
  height: 35dvh;
  overflow: auto;
}
.employee-qualification li{
  font-size: 1.5em;
}
.qualification-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3dvh;
}
