<div *ngIf="employee!==undefined" class="outer">
  <div class="header">
    <h1>{{employee.lastName}},&nbsp;{{employee.firstName}}</h1>
  </div>
      <div class="body">
        <div class="employee-details">
          <div class="employee-label">
            <p>Vorname:</p>
            <p>Nachname:</p>
            <p>Straße:</p>
            <p>Stadt:</p>
            <p>Postleitzahl:</p>
            <p>Telefonnummer:</p>
          </div>
          <div class="right-text">
            <div *ngIf="!(editSubject|async) else editProperties" class="employee-information">
              <p>{{employee.firstName}}</p>
              <p>{{employee.lastName}}</p>
              <p>{{employee.street}}</p>
              <p>{{employee.city}}</p>
              <p>{{employee.postcode}}</p>
              <p>{{employee.phone}}</p>
            </div>
          </div>
        </div>
        <div class="employee-qualification">
          <ul>
            <li *ngFor="let qualification of employee.skillSet">{{qualification.skill}}</li>
          </ul>
        </div>
      </div>
      <div class="footer" *ngIf="!(editSubject|async) else editButtons">
        <button (click)="editEmployee()">Bearbeiten</button>
        <button (click)="editEmployeeQualification()">Qualifikationen bearbeiten</button>
        <button (click)="quitDetailView()">Zurück</button>
      </div>
</div>

<ng-template #editProperties>
  <div class="edit-fields" [formGroup]="employeeForm">
    <input id="firstName" formControlName="firstName">
    <input id="lastName" formControlName="lastName">
    <input id="street" formControlName="street">
    <input id="city" formControlName="city">
    <input id="postcode" formControlName="postcode">
    <input id="phone" formControlName="phone">
  </div>
</ng-template>

<ng-template #editButtons>
  <button (click)="saveEmployee()">Speichern</button>
  <button (click)="cancelEditing()">Abbrechen</button>
</ng-template>
