.menuDiv{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #aaaaaa;
  border-bottom: 1px solid black;
}
button{
  height: 6dvh;
  width: 20dvw;
  border-radius: 16px;
  font-size: 1.5em;
}
button:active{
  background-color: #5b5b5b;
}
