<nav class="menuDiv">
  <button class="menuButton" [routerLink]="['']">START</button>
  <button class="menuButton" [routerLink]="['/employee']">EMPLOYEE</button>
  <button class="menuButton" [routerLink]="['/qualification']">QUALIFICATION</button>
  <button class="menuButton" [routerLink]="['']">LOGOUT</button>
</nav>

<div>
  <ol class="employeeList">
   <!-- <li class="listItem" *ngFor="let e of employees$ | async"> -->
    <li id="{{e.id}}" class="listItem" *ngFor="let e of window.globalEmployeeList | async" (dblclick)="goToDetailView(e.id)" (mouseover)="showButtons(e.id)">
      <h3>{{e.firstName}}, {{e.lastName}}</h3>
      <div class="buttonDiv">
        <button [routerLink]="['/employee', e.id]" [hidden]="">Details</button>
        <button (click)="deleteEmployee(e.id)">Delete</button>
      </div>
    </li>
  </ol>
</div>



<!--<ul>-->
<!--  <li *ngFor="let e of employees$ | async">-->
<!--    {{e.id}}, {{e.lastName }}, {{e.firstName}}-->
<!--  </li>-->
<!--  <li>TEST QUALIS</li>-->

<!--  <li *ngFor="let e of employees$ | async">-->
<!--    <a [routerLink]="['/employee', e.id]">Details</a>-->
<!--  </li>-->

<!--  <li *ngFor="let q of qualifications$ | async">-->
<!--    {{q.id}}, {{q.skill}}-->
<!--  </li>-->
<!--  <p *ngIf="testEmployee | async as employee"> {{employee.lastName}} {{employee.firstName}}</p>-->
<!--</ul>-->
<!-- <span *ngIf="testEmployee | async as employee"><button (click)="postEmployee(employee)">{{employee.lastName}}</button></span> -->
<span><button [routerLink]="['/employee/addEmployee']">Mitarbeiter hinzufügen</button></span>
<span><button (click)="printTokens()">Print Tokens</button> </span>
<!--
<app-employee-detail></app-employee-detail>
-->
