<app-navigation-bar></app-navigation-bar>

<div>
  <ol class="employeeList">
    <li id="{{e.id}}" class="listItem" *ngFor="let e of employees$ | async" (dblclick)="goToDetailView(e.id)">
      <h3>{{e.firstName}}, {{e.lastName}}</h3>
      <div class="buttonDiv">
        <button (click)="goToDetailView(e.id)">Details</button>
        <button (click)="deleteEmployee(e.id,e.firstName+' '+e.lastName)">Delete</button>
      </div>
    </li>
  </ol>
</div>
<span><button (click)="addEmployee()">Mitarbeiter hinzufügen</button></span>
