<div class="outer">
<div class="navigation">
  <app-navigation-bar></app-navigation-bar>
</div>
<div class="inner">
  <div [ngClass]="{'background':detailsService.showDetails|async}" class="employee-list">
<div class="header">
  <span>Filter:&nbsp;<mat-form-field>
    <input id="filter-input" matInput [ngModel]="getFilterText()" (ngModelChange)="setFilterText($event)">
  </mat-form-field></span>
  <button (click)="addQualificationDialogOpen()">Qualifikation hinzufügen</button>
</div>
  <div class="body">
    <div class="table-background">
      <table>
        <thead>
        <tr>
          <th class="name-column">Name der Qualifikation</th>
          <th class="button-column">&nbsp;</th>
          <th class="button-column">&nbsp;</th>
          <th class="button-column">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let qualification of qualifications; let i = index" >
          <td class="name-column">
            <ng-container *ngIf="editingIndex !== i; else editMode">
              {{ qualification.skill }}
            </ng-container>
            <ng-template #editMode>
              <input [(ngModel)]="qualification.skill" />
            </ng-template>
          </td>
          <td *ngIf="editingIndex !== i">
            <button class="table-button" (click)="showEmployeesForQualification(qualification)">Mitarbeiter</button>
          </td>
          <td *ngIf="editingIndex !== i">
            <button class="table-button" (click)="openDeleteDialog(qualification.id, qualification.skill)">löschen</button>
          </td>
          <td>
            <ng-container *ngIf="editingIndex !== i; else saveCancelButtons">
              <button class="table-button" (click)="startEditing(i)">bearbeiten</button>
            </ng-container>
            <ng-template #saveCancelButtons>
              <button class="table-button" (click)="saveChanges(qualification)">speichern</button>
              <button class="table-button" (click)="cancelEditing()">abbrechen</button>
            </ng-template>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
