.dialog{
  background: lightcoral;
  width: 100%;
  height: 100%;
}

.dialog-header {
  padding-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.dialog-footer{
  display: flex;
  justify-content: end;
  margin-right: 40px;
}
