<main>
  <h2>Mitarbeiter hinzufügen</h2>
  <section class="secForm">
    <form [formGroup]="addEmployeeForm" (submit)="checkInputs()">
      <label for="first-name">Vorname</label>
      <input id="first-name" type="text" formControlName="firstName" />
      <label for="last-name">Nachname</label>
      <input id="last-name" type="text" formControlName="lastName" />
      <label for="postcode">Postleitzahl:</label>
      <input id="postcode" type="number" formControlName="postcode" />
      <label for="street">Straße:</label>
      <input id="street" type="text" formControlName="street" />
      <label for="city">Stadt:</label>
      <input id="city" type="text" formControlName="city" />
      <label for="phone">Telefon:</label>
      <input id="phone" type="number" formControlName="phone" />
      <label for="skillSetSelect">Gewählte Fähigkeiten:</label>
      <ul>
        <li *ngFor="let selQual of selectedQualifications">{{selQual.skill}}</li>
      </ul>

      <label for="skillSetSelect">Fähigkeiten:</label>
      <select id="skillSetSelect" formControlName="skillSet"> <!-- multiple -->
        <option *ngFor="let qual of qualification$ | async" value="{{qual.id}}">{{qual.skill}}</option>
      </select>

      <!-- <select id="skillSet" *ng-Model="selected" *ng-options="x for x in names"> </select> -->
      <!--  <input id="skillSet" type="number" formControlName="skillSet" /> -->

      <button type="submit" class="primary">Mitarbeiter speichern</button>
      <button type="reset" class="primary" [routerLink]="['/employee']">Abbrechen</button>
    </form>
  </section>
  <button (click)="addQualification()">Qualifikation hinzufügen</button>
</main>
