.outer{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner{
  height: 70dvh;
  width: 35dvw;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #aaaaaa;
}
button{
  width: 20dvw;
  height: 15dvh;
  border-radius: 10px;
}
button:active{
  background-color: #5b5b5b;
}
